@page "/locations"
@using BSDSalzburg2024.Application.Locations.Queries.GetLocationListQuery
@using BSDSalzburg2024.WebUI.Shared

@inject IMediator mediator
@inject IStringLocalizer<List> localizer

<PageTitle>@this.localizer["Title"]</PageTitle>

<section class="section">
    <h1 class="title">
        @this.localizer["Title"]
    </h1>
</section>
<section>
    @if (this.listItems is not null)
    {
        <div class="buttons">
            <button class="button" @onclick="() => this.createActive = true">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>@this.localizer["Create"]</span>
            </button>
        </div>
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>@this.localizer["Id"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.listItems)
                {
                    <tr>
                        <td>@item.Index</td>
                        <td>@item.Id</td>
                        <td>
                            <div class="buttons has-addons">
                                <button class="button is-small" aria-label="@this.localizer["Update"]" @onclick="() => { this.activeItemId = item.Id; this.updateActive = true; }">
                                    <span class="icon is-small">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </button>
                                <button class="button is-small" aria-label="@this.localizer["Delete"]" @onclick="() => { this.activeItemId = item.Id; this.deleteActive = true; }">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination PageSize="this.listCommand.PageSize"
                    PageIndex="this.listCommand.PageIndex"
                    ItemsTotal="this.listItemsTotal"
                    OnPageChange="this.ChangePage">
        </Pagination>
    }
</section>
<div class="modal @(this.deleteActive ? "is-active" : "")">
    <div class="modal-background"></div>
    @if (this.deleteActive)
    {
        <Delete ActiveChanged="async (active) => { this.deleteActive = active; await this.LoadList(); }" Id="this.activeItemId" />
    }
</div>
<div class="modal @(this.createActive ? "is-active" : "")">
    <div class="modal-background"></div>
    @if (this.createActive)
    {
        <Create ActiveChanged="async (active) => { this.createActive = active; await this.LoadList(); }" />
    }
</div>
<div class="modal @(this.updateActive ? "is-active" : "")">
    <div class="modal-background"></div>
    @if (this.updateActive)
    {
        <Update ActiveChanged="async (active) => { this.updateActive = active; await this.LoadList(); }" Id="this.activeItemId" />
    }
</div>

@code {
    private string activeItemId;
    private bool createActive;
    private bool updateActive;
    private bool deleteActive;

    private GetLocationListQuery listCommand;

    private IReadOnlyCollection<GetLocationListQueryResultItem> listItems;
    private int listItemsTotal;

    private async Task LoadList()
    {
        var result = await this.mediator.Send(listCommand);
        this.listItems = result.Items;
        this.listItemsTotal = result.ItemsTotal;
    }

    private async Task ChangePage(int pageIndex)
    {
        this.listCommand.PageIndex = pageIndex;

        await this.LoadList();
    }

    protected override async Task OnInitializedAsync()
    {
        this.listCommand = new GetLocationListQuery { PageIndex = 0, PageSize = 10 };

        await this.LoadList();
        await base.OnInitializedAsync();
    }
}
