@page "/municipalities"
@namespace BSDSalzburg2024.WebUI.Pages
@using BSDSalzburg2024.WebUI.Shared
@using BSDSalzburg2024.Application.Municipalities.Queries.GetMunicipalityListQuery
@using MediatR

@inject IMediator mediator

<PageTitle>Municipalities</PageTitle>

<section class="section">
    <h1 class="title">
        Municipalities
    </h1>
</section>
<section>
    @if (this.listItems is not null)
    {
        <Pagination 
            PageSize="this.pageSize" 
            PageIndex="this.pageIndex" 
            ItemsTotal="this.listItemsTotal"
            OnPageChange="this.ChangePage">
        </Pagination>
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>Country</th>
                    <th>Postal Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in this.listItems)
                {
                    <tr>
                        <td>@item.Index</td>
                        <td>@item.Country.FlagEmoji @item.Country.Name</td>
                        <td>@item.PostalCode</td>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>

@code {
    private int pageIndex;
    private int pageSize;

    private List<MunicipalityListItem> listItems;
    private int listItemsTotal;

    private async Task LoadList()
    {
        var request = new GetMunicipalityListQuery
            {
                PageIndex = pageIndex,
                PageSize = pageSize,
            };

        var result = await this.mediator.Send(request);
        this.listItems = result.Items.ToList();
        this.listItemsTotal = result.ItemsTotal;
    }

    private async Task ChangePage(int pageIndex)
    {
        this.pageIndex = pageIndex;

        await this.LoadList();
    }

    protected override async Task OnInitializedAsync()
    {
        this.pageIndex = 0;
        this.pageSize = 10;

        await this.LoadList();
        await base.OnInitializedAsync();
    }
}