@using BSDSalzburg2024.Application.Models
@using BSDSalzburg2024.Application.Municipalities.Commands.CreateMunicipalityCommand
@using BSDSalzburg2024.WebUI.Shared
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms

@inject IMediator mediator
@inject IStringLocalizer<Create> localizer

<EditForm @ref="this.form" Model="this.command" OnValidSubmit="this.Submit" FormName="MunicipalityCreateForm">
    <FluentValidationValidator @ref="this.validator" TModel="CreateMunicipalityCommand" />
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">@this.localizer["Title"]</p>
            <button class="delete" aria-label="close" @onclick="() => this.ActiveChanged.InvokeAsync(false)"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">@this.localizer["Id"]</label>
                <TemplatedValidationMessage For="() => this.command.Id" BaseClass="input" Localizer="this.localizer">
                    <InputTemplate Context="inputClasses">
                        <InputNumber class="@(inputClasses)" @bind-Value="this.command.Id" />
                    </InputTemplate>
                </TemplatedValidationMessage>
            </div>
            <div class="field">
                <label class="label">@this.localizer["Country"]</label>
                <TemplatedValidationMessage For="() => this.command.Country" BaseClass="select" Localizer="this.localizer">
                    <InputTemplate Context="inputClasses">
                        <div class="@(inputClasses)">
                            <InputSelect @bind-Value="this.command.Country">
                                @foreach (var country in Country.Options)
                                {
                                    <option value="@country.IsoCode">
                                        <CountryName Model="country"/>
                                    </option>
                                }
                            </InputSelect>
                        </div>
                    </InputTemplate>
                </TemplatedValidationMessage>
            </div>
            <div class="field">
                <label class="label">@this.localizer["Name"]</label>
                <TemplatedValidationMessage For="() => this.command.Name" BaseClass="input" Localizer="this.localizer">
                    <InputTemplate Context="inputClasses">
                        <InputText class="@(inputClasses)" @bind-Value="this.command.Name" />
                    </InputTemplate>
                </TemplatedValidationMessage>
            </div>
            <div class="field">
                <label class="label">@this.localizer["PostalCode"]</label>
                <TemplatedValidationMessage For="() => this.command.PostalCode" BaseClass="input" Localizer="this.localizer">
                    <InputTemplate Context="inputClasses">
                        <InputText class="@(inputClasses)" @bind-Value="this.command.PostalCode" />
                    </InputTemplate>
                </TemplatedValidationMessage>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" type="submit">@this.localizer["Submit"]</button>
            </div>
        </footer>
    </div>
</EditForm>

@code {
    private bool active;
    private CreateMunicipalityCommand command;
    private EditForm form;
    private FluentValidationValidator<CreateMunicipalityCommand> validator;

    [Parameter]
    public EventCallback<bool> ActiveChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.command = new CreateMunicipalityCommand();

        await base.OnInitializedAsync();
    }

    private async Task Submit()
    {
        var valid = this.form.EditContext.Validate();
        if (valid)
        {
            try
            {
                await this.mediator.Send(this.command);
                await this.ActiveChanged.InvokeAsync(false);
            }
            catch (ValidationException exception)
            {
                this.validator.PopulateErrors(exception.Errors);
            }
        }
    }
}
