@using BSDSalzburg2024.Application.Municipalities.Commands.CreateMunicipalityCommand
@using BSDSalzburg2024.WebUI.Shared
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms

@inject IMediator mediator
@inject IStringLocalizer<Create> localizer

<EditForm @ref="this.form" Model="this.command" OnValidSubmit="this.Submit" FormName="MunicipalityCreateForm">
    <FluentValidationValidator @ref="this.validator" TModel="CreateMunicipalityCommand" />
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">@this.localizer["AddMunicipality"]</p>
            <button class="delete" aria-label="close" @onclick="() => this.ActiveChanged.InvokeAsync(false)"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">@this.localizer["Id"]</label>
                <div class="control">
                    <InputNumber class="input" @bind-Value="this.command.Id" />
                </div>
                <TemplateValidationMessage For="() => this.command.Id" />
            </div>
            <div class="field">
                <label class="label">@this.localizer["Name"]</label>
                <div class="control">
                    <InputText class="input" @bind-Value="this.command.Name" />
                </div>
                <TemplateValidationMessage For="() => this.command.Name" />
            </div>
            <div class="field">
                <label class="label">@this.localizer["PostalCode"]</label>
                <div class="control">
                    <InputText class="input" @bind-Value="this.command.PostalCode" />
                </div>
                <TemplateValidationMessage For="() => this.command.PostalCode" />
            </div>
            <div class="field">
                <label class="label">@this.localizer["Country"]</label>
                <div class="control">
                    <InputText class="input" @bind-Value="this.command.Country" />
                </div>
                <TemplateValidationMessage For="() => this.command.Country" />
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" type="submit">Save</button>
            </div>
        </footer>
    </div>
</EditForm>

@code {
    private bool active;
    private CreateMunicipalityCommand command;
    private EditForm form;
    private FluentValidationValidator<CreateMunicipalityCommand> validator;

    [Parameter]
    public EventCallback<bool> ActiveChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.command = new CreateMunicipalityCommand();

        await base.OnInitializedAsync();
    }

    private async Task Submit()
    {
        var valid = this.form.EditContext.Validate();
        if (valid)
        {
            try
            {
                await this.mediator.Send(this.command);
                await this.ActiveChanged.InvokeAsync(false);
            }
            catch (ValidationException exception)
            {
                this.validator.PopulateErrors(exception.Errors);
            }
        }
    }
}
